<h1 *ngIf="!isChange" mat-dialog-title>Create Element</h1>
<h1 *ngIf="isChange" mat-dialog-title>Edit Element</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Position</mat-label>
    <input matInput [(ngModel)]="data.position">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Weight</mat-label>
    <input matInput [(ngModel)]="data.weight">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label >Symbol</mat-label>
    <input color="" matInput [(ngModel)]="data.symbol">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button *ngIf="!isChange"  [mat-dialog-close]="data" cdkFocusInitial>Create</button>
  <button mat-button *ngIf="isChange"  [mat-dialog-close]="data" cdkFocusInitial>Edit</button>
</div>